<script type="text/template" id="footerTmpl">
	<div class="page__ft">
		<a href="javascript:home()"><img src="images/icon_footer_link.png" /></a>
	</div>
</script>
<script src="./zepto.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/t/wx_fed/cdn_libs/res/weui/1.2.5/weui.min.js"></script>
<script src="./example.js"></script>
<script src="./wah.js"></script>
<script type="text/javascript">
  //WAH.default.init()
</script>